<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TrocEncheres</display-name>
  <welcome-file-list>
    <welcome-file>connexion.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletConnexion</servlet-name>
    <servlet-class>servlets.ServletConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConnexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDeconnexion</servlet-name>
    <servlet-class>servlets.ServletDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletFiltre</servlet-name>
    <servlet-class>servlets.ServletFiltre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFiltre</servlet-name>
    <url-pattern>/filtre</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ServletInit</servlet-name>
    <servlet-class>servlets.article.ServletListeAccueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInit</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>
</web-app>