<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TrocEncheres</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletAnimateur</servlet-name>
    <servlet-class>servlets.animateur.ServletAnimateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAnimateur</servlet-name>
    <url-pattern>/animateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletListeInscriptions</servlet-name>
    <servlet-class>servlets.animateur.ServletListeInscriptions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListeInscriptions</servlet-name>
    <url-pattern>/liste_inscriptions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletConnexion</servlet-name>
    <servlet-class>servlets.ServletConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConnexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDeconnexion</servlet-name>
    <servlet-class>servlets.ServletDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletFormations</servlet-name>
    <servlet-class>servlets.formations.ServletFormations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFormations</servlet-name>
    <url-pattern>/formations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletGestionFormation</servlet-name>
    <servlet-class>servlets.formations.ServletGestionFormation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGestionFormation</servlet-name>
    <url-pattern>/gestion_formation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletAjoutFormation</servlet-name>
    <servlet-class>servlets.formations.ServletAjoutFormation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAjoutFormation</servlet-name>
    <url-pattern>/ajout_formation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletModificationFormation</servlet-name>
    <servlet-class>servlets.formations.ServletModificationFormation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificationFormation</servlet-name>
    <url-pattern>/modification_formation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletStagiaire</servlet-name>
    <servlet-class>servlets.stagiaire.ServletStagiaire</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletStagiaire</servlet-name>
    <url-pattern>/stagiaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletChgtMDP</servlet-name>
    <servlet-class>servlets.stagiaire.ServletChgtMDP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletChgtMDP</servlet-name>
    <url-pattern>/changementMDP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletGererMesFormations</servlet-name>
    <servlet-class>servlets.stagiaire.ServletGererMesFormations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGererMesFormations</servlet-name>
    <url-pattern>/mes_formations</url-pattern>
  </servlet-mapping>
</web-app>